@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
  margin: 2px;
  padding: 2px;
  align-self:center;
  line-height: 1.2;
}

body{
    background-color: rgb(252, 247, 250);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: medium;
}

h1 {
    color: darkorchid;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

h2 {
    font-family: 'Indie Flower', cursive;
    color: darkorchid;
}

h3 {
  font-family: 'Indie Flower', fantasy;
}

.title{
    color: darkmagenta;
    font-size: 50px;
}

.navbar{
    font-family: 'Indie Flower', cursive;
    font-size: large;
    font-weight: bold;
    padding: 6px;
    text-align: center;
    border: 3px solid magenta;
    display: block;
    text-decoration: none;
    
}
  .navbar:hover {
    background-color: rgb(243, 156, 207);
  }

.searchBar{
  text-align: center;
  font-weight: bold;
  font-size: 15px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.searchBar form{
    width:100%;
    padding-top: 5px;
    padding-bottom:5px;
    border-bottom:4px solid #dbdbdb;
  }

.aboutme {
    text-align: center;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.remove-button {
    padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    background-color: #bd1515;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;  
}

.remove-button:hover {
  background-color: rgb(243, 156, 207);
}

.add-button {
  padding: 10px 15px;
    border: 0;
    border-radius: 20px;
    color: #fff;
    font-size: 13px;
    background-color: blue;
    font-weight: 300;
    text-decoration: none;
    cursor: pointer;
}

.add-button:hover {
  background-color: rgb(243, 156, 207);
}

.submitbutton {
  padding: 5px 10px;
  border: 0;
  border-radius: 20px;
  color: #fff;
  font-size: 15px;
  background-color: darkorchid;
  font-weight: 300;
  font-size: 1em;
  cursor: pointer;  
}

.book {
  margin-top:5px;
  margin-bottom:15px;
  border-bottom: 1px solid rgb(209, 209, 209);
  display: flex;
}

.description {
  text-align: justify;
}
